{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <h3 class="text-center m-4">Update Agent</h3>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-success mb-3">
                    <div class=" card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i> Update Agent -
                        <strong>{{ agent.user.username }}</strong>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'agent-update' agent.id %}" method="post">
                            {% csrf_token %}
                            {{ form|cripsy }}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-info float-right">Update</button>
                                <a href="{% url 'agent-list' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}