<div class="modal fade" id="detailModal{{ product.id }}" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ product.name }} {{ product.price }} {{ product.description }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li>Product Name:
                        <strong>{{  product.name }}</strong>
                    </li>
                    <li>Product Price :
                        <strong>{{ product.price }}</strong>
                    </li>
                    <li>Product Description:
                        <strong>{{ product.description }}</strong>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>