<div class="modal fade" id="detailModal{{ order.id }}" tabindex="-1" aria-labelledby="viewModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ order.name }} {{ order.price }} {{ order.details }} {{ order.agent}} {{ order.product }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li>Product Name:
                        <strong>{{ order.name }}</strong>
                    </li>
                    <li>Order Price :
                        <strong>{{ order.price }}</strong>
                    </li>
                    <li>Product Description:
                        <strong>{{ order.details }}</strong>
                    </li>
                    <li>Agent:
                        <strong>{{ order.agent }}</strong>
                    </li>
                    <li>Lead:
                        <strong>{{ order.product }}</strong>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>